:root {
  --bg: #08111F;
  --card: #172033;

  --primary: #2563EB;
  --primary-hover: #1D4ED8;

  --accent: #22D3EE;

  --text: #FFFFFF;
  --text-secondary: #94A3B8;

  --border: rgba(255,255,255,.08);
  --glass: rgba(255,255,255,.04);

  --shadow: 0 15px 40px rgba(37,99,235,.20);

  --radius: 16px;

  --transition: .3s ease;
}