body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0F172A ;
}

.app {
  max-width: 400px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h1 {
  color: #1e88e5;
}

.tagline {
  color: gray;
  margin-bottom: 25px;
}

button {
  background: #1e88e5;
  color: white;
  border: none;
  padding: 14px 22px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1565c0;
}